@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", "Martel Sans", sans-serif, Helvetica, sans-serif, 'Segoe UI';
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: black;
    text-align: center;
}

.main {
    background-image: url(assets/images/IN-en-20250707-TRIFECTA-perspective_4faa9280-a2c5-4e07-aafc-a45ce43fea09_large.jpg);
    height: 115vh;
    background-position: center center;
    background-size: max(1200px, 100vw);
    position: relative;
    /* opacity: 0.55; */
    /* z-index: -1; */
}



.main .one {
    position: absolute;
    top: 0px;
    height: 115vh;
    width: 100%;
    opacity: 0.55;
    background-color: black;
    z-index: 1;
}

nav span img {
    width: 150px;
    margin-top: 30px;
    text-align: left;
    position: relative;
    z-index: 2;
    opacity: 1;

}

.navv {
    max-width: 90%;
    width: 80%;
    height: 100px;
    display: inline-block;
    /* justify-content: flex-start; */
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: left;
    opacity: 1;
}

@media screen and (max-width:825px) {
    .main {
        height: 70vh;
        background-size: max(1580px, 100vw);
    }

    .main .one {
        height: 70vh;
    }
}

@media screen and (max-width:770px) {
    .main {
        height: 80vh;

    }

    .main .one {
        height: 80vh;
    }
}
@media screen and (max-width:600px) {
    .main{
        background-image: none;
    }
}

@media screen and (max-width:415px) {
    .main {
        height: 90vh;
    }
    nav span img{
        width:120px;
    }
}
@media screen and (max-width:360px) {
    .main{
        height:100vh;
    }
}
@media screen and (max-width:377px) {
    .main{
        height:110vh;
    }
}



.box {
    width: 90%;
    max-width: 500px;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.785);
    display: inline-block;
    color: white;
    position: relative;
    padding: 20px;
    margin: 0 auto;
}

.sign1 {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 15px;
}



.btn {
    width: 375px;
    /* max-width: 328px; */
    border-radius: 5px;
    padding: 12px 15px;
    margin-bottom: 15px;
    background-color: rgba(23, 23, 23, 0.696);
    font-size: 16px;
    border: 2px solid rgba(73, 65, 65, 0.868);
    font-weight: 700;
    color: white;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 13px 160px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border-radius: 7px;
    margin-bottom: 10px;
    border: none;
}

.or {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
}

.btn-grey {
    position: relative;
    z-index: 2;
    padding: 13px 160px;
    color: white;
    background-color: rgba(180, 165, 165, 0.344);
    border-radius: 7px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.for-pass {
    position: relative;
    z-index: 2;
    color: white;
    margin-bottom: 20px;

}

.for-pass a {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width:415px) {
    .sign1 {
        margin-top: 10px;
        margin-left: 5px;
    }

    .btn-red {
        padding: 11px 162px;
        font-size: 14px;
    }
    .btn-grey{
        padding: 11px 115px;
    }
}
@media screen and (max-width:360px) {
    .box{
        width:90%;
    }
    .btn{
        width:330px;
    }
    .btn-red{
        padding:11px 130px ;
        font-size: 16px;
        width:328px;
    }
    .btn-grey{
        padding:14px 92px ;
        width:328px;
    }
    
    
}
@media screen and (max-width:431px) {
    .btn-grey{
        padding:11px 110px ;
        width:375px;
    }
    .sign1 {
        margin-top: 10px;
        margin-left: 5px;
    }
}
@media screen and (max-width:393px) {
    .btn{
        width:350px
    }
    .btn-red{
         padding:11px 130px ;
        font-size: 16px;
        width:348px;
    }
    .btn-grey{
         padding:11px 80px ;
        width:345px;
    }
}
@media screen and (max-width:550px) {
    .btn-grey{
        padding:11px 80px ;
        width:360px;
    }
}



.me {
    position: relative;
    z-index: 2;
    text-align: left;
    margin-left: 60px;
    font-size: 19px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
}

.me input[type="checkbox"] {
    /* padding: 3px; */
    height: 15px;
    width: 20px;
    color: black;
}

.sign {
    position: relative;
    z-index: 2;
    margin-left: 60px;
    text-align: left;
    color: grey;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.sign a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;

}

.learn0 {
    width: 380px;
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 2;
    font-size: 13px;
    color: grey;
}

.learn {
    cursor: pointer;
    color: rgb(94, 126, 255);
    text-decoration: underline;
}
@media screen and (max-width:415px) {
    .me{
        margin-left:0px;
    }
    .sign{
        margin-left:0px;
    }
}
@media screen and (max-width:360px) {
    .learn0{
        width:345px;
    }
}
@media screen and (max-width:431px) {
    .me{
         margin-left:3px;
    }
     .sign{
        margin-left:0px;
    }
}
@media screen and (max-width:377px) {
    .learn0{
        width:350px;
    }
}


footer {
    color: rgb(182, 178, 178);
    /* max-width: 85vw; */
    margin: auto;
    text-align: left;
    width: 99vw;
    /* margin-top: 30px; */
    background-color: rgb(19, 19, 19);
    position: relative;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(182, 178, 178);
    padding: 14px;
    text-align: left;
    width: 80vw;
    position: relative;
    padding-left: 190px;
}



.footer-itm {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer .query {
    /* margin: 2px 30vw; */
    text-align: left;
    padding: 34px 0px 0px 0px;
    font-size: 16px;
    padding-left: 190px;
}

.footer a {
    color: rgb(182, 178, 178);
    font-size: 14px;
}

footer .query u {
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width:825px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        padding: 14px;
        padding-left: 35px;
    }

    footer .query {
        padding-left: 35px;
    }

    .footer-itm {
        gap: 20px;
    }

}


.btn1 {
    padding: 4px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgba(128, 128, 128, 0.396);
    background-color: black;
    margin-left: 8px;
    position: relative;
}

.sankar {
    text-align: center;
    color: white;
    padding: 30px;
}

.footer-lang {
    position: relative;
    padding-left: 180px;
    margin-top: 10px;
}

.symbol {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 11;
    /* top: 10px; */
    left: 195px;
    bottom: 12px;
}

@media screen and (max-width:825px) {
    .footer-lang {
        padding-left: 25px;
    }

    .itm1 {
        margin-top: 20px;
    }

    .symbol {
        left: 40px
    }
}