@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", "Martel Sans", sans-serif, Helvetica, sans-serif, 'Segoe UI';
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: black;
    text-align: center;
}

.main {
    background-image: url(assets/images/IN-en-20250707-TRIFECTA-perspective_4faa9280-a2c5-4e07-aafc-a45ce43fea09_large.jpg);
    height: 100vh;
    /* width:80vw; */
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    /* background-color: black; */
    /* object-fit: fill; */
    position: relative;
}

@media screen and (max-width:900px) {
    .main {
        /* height: 100%; */
        background-size: min(1900px, 442vw);
    }
}

.main .one {
    height: 100vh;
    width: 100%;
    opacity: 0.75;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;
    padding-top: 15px;
    gap: 30px;
    box-shadow: inset 0px 38px 30px 0px black;
}

@media screen and (max-width:900px) {
    nav {
        max-width: 95vw;
    }
}

@media screen and (max-width:400px) {
    nav {
        max-width: 97vw;
    }
}
@media screen and (max-width: 365px) {
    nav {
        max-width: 87vw;
    }

}
nav img {
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;
    /* height: 200px; */
    /* height: 62px; */
}

nav button {
    position: relative;
    z-index: 10;
}

nav #language {
    position: relative;
    z-index: 10;
}

.two {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: calc(90% - 62px);
    position: relative;
    /* z-index: 10; */
    font-family: "Martel Sans", sans-serif, Helvetica, sans-serif, 'Segoe UI';
    /* font-weight: 600; */
    /* font-style: normal; */
    gap: 23px;
    padding: 0 30px;
}

/* .two  >h1{
    font-size: 0;
} */
.two>:first-child {
    font-size: 56px;
    font-weight: 900;
    color: white;
    line-height: 70px;
    max-width: 700px;
    text-align: center;
}

.two>:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}

.two>:nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.seperation {
    height: 50px;
    background: linear-gradient(to right,
            rgba(33, 13, 22, 1) 16%,
            rgba(184, 40, 105, 1),
            rgba(229, 9, 20, 1),
            rgba(184, 40, 105, 1),
            rgba(33, 13, 22, 1) 84%);
    /* position: relative; */
    z-index: 9;
    border: 2px solid black;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    /* top:0; */
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    margin-top: -4px;
}

.boxx {
    height: 50px;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background: radial-gradient(50% 500% at 50% -420%,
            rgba(64, 97, 231, 0.4) 80%,
            rgba(0, 0, 0, 0.1) 100%), black;
    margin-top: 1px;
    box-sizing: border-box;
}

.btn1 {
    padding: 4px 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgba(128, 128, 128, 0.396);
}

@media screen and (max-width:400px) {
    .btn1 {
        padding: 4px 10px;
    }
}

.btn {
    padding: 10px 15px;
    /* font-weight: bold; */
    border-radius: 5px;
}

.btn-red {
    background-color: red;
    color: white;
    line-height: 24px;
    font-weight: 700;
    font-size: 24px;
    padding: 15px 40px 10px 15px;
    font-family: "poppins";
    cursor: pointer;


}

.btn-sm {
    background-color: red;
}

.main input {
    padding: 10px 200px 10px 15px;
    background-color: rgba(23, 23, 23, 0.696);
    font-size: 16px;
    border: 2px solid rgba(73, 65, 65, 0.868);
    font-weight: 700;
    color: white;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

@media screen and (max-width:900px) {
    .three {
        display: flex;
        flex-direction: column;
    }

    .main input {
        padding: 10px 100px 10px 15px;
    }

    .btn-red {
        padding: 10px 10px 10px 15px;
    }

}

#language {
    background-color: rgba(23, 23, 23, 0.696);
    margin-right: 10px;
}

.error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 8px;
    display: none;
}

.error.show {
    display: block;
}

.seven {
    position: relative;
    z-index: 11;
    color: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.trend {
    text-align: left;
    width: 80%;
    display: inline-flex;
    font-size: 24px;
    font-weight: 700;
}

.eight {
    position: relative;
    display: flex;
    flex-direction: row;
    /* overflow: scroll hidden; */
    /* overflow-x: scroll;
    scroll-snap-type: mandatory;
    overflow-wrap: normal; */
    height: 340px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* grid-template-rows: 1fr 1fr; */
    z-index: 11;

}

.eight ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: mandatory;
    overflow-wrap: normal;
    width: 83%;
    height: 310px;
    /* scrollbar-width: none; */
    scroll-behavior: smooth;
}

.box3 {

    height: 275px;
    width: 195px;
    background-color: green;
    /* border: 3px solid grey; */
    position: relative;
    margin-left: 20px;
    transition: transform 0.3s ease-in-out;
}

.box3:hover {
    transform: scale(1.05);

}

.box4 {
    height: 275px;
    width: 195px;
    background-color: green;
    /* border: 3px solid grey; */
    position: relative;
    margin-left: 15px;
    transition: transform 0.3s ease-in-out;
}

.box4:hover {
    transform: scale(1.05);
}

.box4 span {
    font-size: 100px;
    line-height: 49px;
    font-weight: 900;
    position: absolute;
    z-index: 14;
    /* top: 180px; */
    bottom: 20px;
    right: 100px;
    color: rgb(30, 29, 29);
    text-shadow: #192247;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}

.box3 span {
    font-size: 100px;
    line-height: 49px;
    font-weight: 900;
    position: absolute;
    z-index: 14;
    /* top: 180px; */
    bottom: 20px;
    right: 155px;
    color: rgb(30, 29, 29);
    text-shadow: #192247;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}

.btn2 {
    display: flex;
    position: absolute;
    left: 90px;
    /* background-color: rgb(43, 42, 42); */
    /* padding-bottom: 50px;
    padding-top: 50px; */
    border-radius: 15px;
    /* cursor: pointer; */
}

.btn2 button {
    background-color: rgb(43, 42, 42);
    color: whitesmoke;
    /* padding: 0px; */
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 15px;
    border: 2px solid rgb(43, 42, 42);
    cursor: pointer;
}

/* .btn2:hover {
    background-color: rgba(31, 30, 30, 0.775);
} */

.btn2 button:hover {
    background-color: rgba(31, 30, 30, 0.775);
    border: 2px solid rgba(31, 30, 30, 0.775);
}


.btn4 {
    display: flex;
    position: absolute;
    right: 90px;
    /* background-color: rgb(43, 42, 42); */
    /* padding-bottom: 50px;
    padding-top: 50px; */
    border-radius: 15px;
    /* cursor: pointer; */
}

.btn4 button {
    background-color: rgb(43, 42, 42);
    color: whitesmoke;
    /* padding: 0px; */
    border: 2px solid rgb(43, 42, 42);
    cursor: pointer;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 15px;
}

/* .btn4:hover {
    background-color: rgba(31, 30, 30, 0.775);
} */

.btn4 button:hover {
    background-color: rgba(31, 30, 30, 0.775);
    border: 2px solid rgba(31, 30, 30, 0.775);
}

.nav-button.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Show buttons when needed */
.nav-button.visible {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width:560px) {
    .btn4 {
        display: flex;
        position: absolute;
        right: 10px;
        border-radius: 15px;
    }
    .btn2{
        display: flex;
        position: absolute;
        left: 15px;
        border-radius: 15px;
        z-index: 17;
    }

}
@media screen and (max-width:400px) {
    .btn4 {
        display: flex;
        position: absolute;
        right: 2px;
        border-radius: 15px;
    }
    .btn2{
        display: flex;
        position: absolute;
        left: 15px;
        border-radius: 15px;
        z-index: 17;
    }

}


.four {
    position: relative;
    color: white;
    z-index: 11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .four {
        grid-template-columns: 1fr;
    }
}

.five {
    /* position: relative; */
    color: white;
    display: inline-block;
    text-align: left;
}

.box1 {
    height: 250px;
    width: 280px;
    position: relative;
    /* background-color: grey; */
    text-align: left;
    border-radius: 10px;
    padding: 15px 12px;
    background: linear-gradient(149deg,
            #192247 0%,
            #210e17 96.86%);
    /* background: radial-gradient( ellipse at top,rgb(90, 16, 90),rgb(102, 40, 102),rgba(37, 37, 107, 0.816),rgba(0, 0, 0, 0.258)); */
}

.box1 :first-child {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 5px;
}

.box1 :nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    color: whitesmoke;
}

.tv {
    position: absolute;
    /* top:0; */
    /* left:0px; */
    right: 10px;
    bottom: 0px;
}

.clock {
    position: absolute;
    /* top:0; */
    /* left:0px; */
    right: 10px;
    bottom: 0px;
}

.torch {
    position: absolute;
    /* top:0; */
    /* left:0px; */
    right: 10px;
    bottom: 0px;
}

.imogi {
    position: absolute;
    /* top:0; */
    /* left:0px; */
    right: 10px;
    bottom: 0px;
}

.reason {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.box2:hover {
    background-color: rgb(76, 74, 74);

}

.box2 {
    transition: all 0.5s ease-out;
    display: flex;
    flex-wrap: wrap;
    background-color: #2d2d2d;
    justify-content: space-between;
    padding: 18px;
    margin: 10px;
    max-width: 80vw;
    /* gap: 45px; */
    width: 80vw;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width:900px) {
    .box2 {
        flex-wrap: wrap;
        /* padding-right: 45px; */
        font-size: 20px;
    }


}

.faq .questions {
    background-color: black;
    color: white;
    text-align: left;
    font-size: 24px;
    font-weight: 700;

    /* width: 83vw;
    position: relative;
    display: inline-block; */
    margin-left: 8px;
}

.faq {
    background-color: black;
    color: white;
    /* padding: 40px; */
    padding-bottom: 40px;
    padding-top: 40px;
    display: inline-block;
    /* flex-direction: column; */
    text-align: left;
    margin-top: 30px;
}

.box2 .plus {
    position: absolute;
    right: 10px;
    top: 25px;
    bottom: 10px;
    font-weight: 800;
    filter: invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    /* Same as SVG width */
    height: 29px;
    /* Same as SVG height */
}


.rotate-icon {
    /* width: 60px;
    height: 60px; */
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

/* When rotated, the icon turns 45 degrees */
.rotate-icon.rotated {
    transform: rotate(45deg);
    /* transform-origin: center center; */
}

.six {
    margin-top: 20px;
}

.six input {
    padding: 10px 330px 10px 15px;
    background-color: rgba(23, 23, 23, 0.696);
    font-size: 16px;
    border: 2px solid rgba(73, 65, 65, 0.868);
    font-weight: 700;
    color: white;
}

@media screen and (max-width:900px) {
    .six input {
        padding: 10px 130px 10px 15px;
    }
}


.six>p {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 10px;
}

footer {
    color: rgb(182, 178, 178);
    max-width: 85vw;
    margin: auto;
    text-align: left;
    width: 85vw;
    margin-top: 30px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(182, 178, 178);
    padding: 14px;
    text-align: left;

}

@media screen and (max-width:900px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

    }
}

.footer-itm {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer .query {
    /* margin: 2px 30vw; */
    text-align: left;
    padding: 34px 0px;
    padding-left: 10px;
    font-size: 16px;
}

.footer a {
    /* text-decoration: none; */
    color: rgb(182, 178, 178);
    font-size: 14px;
}

footer .query u {
    cursor: pointer;
}

.footer-lang {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sankar {
    text-align: center;
}

.symbol {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 15px;

}

@media screen and (max-width:400px) {
    .symbol {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 11;
        top: 10px;
        left: 15px;
    }
}

.btn3 {
    padding-left: 30px;
    position: relative;
}

.symbol1 {
    position: relative;
}

#language-foot {
    background-color: rgba(23, 23, 23, 0.696);
    margin-right: 10px;
}